<div class="row">
  <img src="/assets/images/vegetablesHome.png" class="img-fluid" />
</div>
<div class="row justify-content-center">
  <div class="row">
    <p class="intro mb-5">
      Découvrez les légumes du moment et réalisez vos listes de courses pour le
      marché ! Pour réaliser des paniers sains et plus responsables...
    </p>
  </div>
  <div class="">
    <div class="box-link mb-5">
      <a [routerLink]="['/vegetables']"> Legumes</a>
    </div>
    <div class="box-link">
      <a [routerLink]="['/lists']"> Mes listes</a>
    </div>
  </div>
</div>
