<div class="container text-center">
  <h1 class="my-3">Mes listes</h1>
  <div class="my-4">
    <h3 class="mb-3">Ajouter une nouvelle liste</h3>
    <form [formGroup]="listForm" (ngSubmit)="addList()">
      <mat-form-field appearance="fill">
        <mat-label>Ajouter un titre</mat-label>
        <input matInput placeholder="Ex. Quotidien" formControlName="name" />
      </mat-form-field>
      <button type="submit" mat-icon-button>
        <mat-icon class="dark-green">library_add</mat-icon>
      </button>
    </form>
  </div>

  <!-- LIST TO ADD-->
  <div class="d-flex flex-wrap justify-content-evenly">
    <div
      class="box-list p-3 mb-4 me-2"
      *ngFor="let list of shoppingLists; let i = index"
    >
      <!-- LIST TITLE -->
      <div class="d-flex align-items-center">
        <fom [formGroup]="listTitleForm">
          <div class="dark-green title" (click)="editMode(i)">
            {{ list.name }}
          </div>
          <input
            *ngIf="editTitle && i === this.activeIndex"
            type="text"
            formControlName="name"
        /></fom>
        <button type="button" mat-icon-button (click)="edit(list.id)">
          <mat-icon class="dark-green">edit</mat-icon>
        </button>
        <button type="button" mat-icon-button (click)="deleteList(list.id)">
          <mat-icon class="dark-green">delete_outline</mat-icon>
        </button>
      </div>
      <!-- SELECT VEGIES -->
      <div>
        <mat-form-field class="selectBtn">
          <mat-label> Légumes </mat-label>
          <mat-select
            #vegieValue
            (selectionChange)="addVegieOnSelect(list.id, vegieValue)"
          >
            <mat-option *ngFor="let vegie of vegies" [value]="vegie.id">
              {{ vegie.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <!-- VEGIES -->
      <div>
        <ul
          class="d-flex align-items-center"
          *ngFor="let vegie of list.vegetables"
        >
          <li class="dark-green">{{ vegie.name }}</li>
          <button
            mat-icon-button
            type="button"
            (click)="deleteVegie(list.id, vegie.id)"
          >
            <mat-icon class="dark-green">close</mat-icon>
          </button>
        </ul>
      </div>
    </div>
  </div>
</div>
